
//General

body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	background-color: $color-background;
}

.body-facebook {
	background-color: white;
}

.body-twitter {
	background-color: white;
}

